@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&family=VT323&display=swap');

* {
  font-family: 'League Spartan', sans-serif;
  font-weight: 300;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

body {
  background: #111;
  color: #ff4500;
}

button {
  background: #ff4500;
  color: #111;
  border: none;
  border-radius: 5px;
  padding: 15px;
  font-size: 18px;
  font-weight: 500;
}

button:hover {
  opacity: 0.8;
}